# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage
htmlcov/
.env
.venv/
venv/
log/*
!log/
!log/.gitkeep
extract.yaml
# IDE
.idea/
report/*
!report/
!report/.gitkeep
data/*
!data/
!data/.gitkeep
testcase/VehicleAccess/
conf/config.ini
